/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo principal */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Container principal */
.container {
    max-width: 400px;
    width: 90%;
    text-align: center;
}

/* Imagem de fundo */
.header-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

/* Botões */
button {
    margin: 10px 0;
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #ff4d4d;
    border: none;
    border-radius: 10px;
    font-family: 'Arial Black', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #ff3333;
}

/* Resultado */
#resultado {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

/* Estilos do Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro mais opaco */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Largura do modal */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
}

/* Estilo do botão de login */
button {
    margin-top: 10px;
}
